/* Configurações gerais da tabela */
table {
    width: 100%;
    table-layout: auto;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #888;  /* Bordas neutras */
}

th {
    background-color: #e0e0e0;  /* Fundo neutro para cabeçalhos */
    color: #333;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
}

/* Estilos para tabelas estilizadas */
.styled-table, .correlation-table, .covariance-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th, .correlation-table th, .covariance-table th,
.styled-table td, .correlation-table td, .covariance-table td {
    padding: 8px;
    border: 1px solid #888;  /* Bordas neutras */
    color: #333;
    text-align: center;
}

/* Fundo alternado para linhas da tabela */
.styled-table tr:nth-child(even), .correlation-table tr:nth-child(even), .covariance-table tr:nth-child(even) {
    background-color: #f5f5f5;  /* Fundo alternado claro */
}

.styled-table tr:nth-child(odd), .correlation-table tr:nth-child(odd), .covariance-table tr:nth-child(odd) {
    background-color: #ffffff;  /* Fundo padrão para linhas ímpares */
}

/* Valores de alta correlação/covariância */
.high-correlation, .high-covariance {
    font-weight: bold;
    color: #d2691e;  /* Cor destacada para valores altos */
}

/* Container para alinhar os elementos no cabeçalho */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    width: 100%;
}

/* Logo no canto superior esquerdo */
.top-logo {
    width: 90px;
    margin-right: 20px;
}

/* Título grande alinhado à esquerda */
.title-right {
    flex: 1;
    text-align: left;
    font-size: 5em; /* Ajuste para o tamanho desejado */
    margin: 0 20px;
    line-height: 1.2;
}

/* Logo no canto superior direito */
.header-logo {
    width: 90px;
    margin-left: 20px;
}

/* Ajustes para telas menores 
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-logo, .header-logo {
        width: 70px;
        margin: 10px 0;
    }

    .title-right {
        font-size: 2.5em;
        text-align: center;
        margin-left: 0;
    }
}
*/

/* Estiliza os elementos de múltipla seleção */
[data-baseweb="tag"] {
    background-color: #0072C6 !important; /* Azul para o fundo do seletor */
    color: white !important; /* Branco para o texto */
    border-radius: 4px !important; /* Canto arredondado */
    padding: 4px 8px !important; /* Ajuste do espaçamento interno */
}

[data-baseweb="tag"] > span {
    color: white !important; /* Cor do texto dentro dos seletores */
}

[data-baseweb="tag"] [aria-label="clear"] {
    color: white !important; /* Cor do ícone de fechamento (X) */
}
